<!-- start contact us -->
<section class="section bg-light bmd-app-page-padding bmd-background">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="text-dark mb-3">{{heading}}</h2>
            </div>
        </div>
        <span id="error-msg"></span>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <div class="row">
                    <a class="mailtoui btn btn-primary mt-5" 
                        style="font-size: 24px; padding: 72px"
                        href="mailto:biuro@bmdsp.pl">Wyślij wiadomość email biuro@bmdsp.pl</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <a class="mailtoui btn btn-primary mt-5" 
                        style="font-size: 24px; padding: 72px"
                        href="tel:184426677">Zadzwoń 18 442 66 77</a>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end contact us -->