
<section class="bmd-app-page-padding section bmd-background" id="showcase">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">{{heading}}</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let value of serviceList" class="col-lg-4 col-md-6 mt-4 pt-2  service-list">
                <div class="card rounded service-box-one border">
                    <div class="card-body p-4 m-2">
                        <!--<i-feather name="{{value.icon}}" class="icon-xl service-icon sw-1"></i-feather>-->
                        <h5 class="service-title fs-18 my-4">{{value.purchaser}}</h5>
                        <h3 class="service-subtitle pb-4">{{value.date}}</h3>
                        <p class="service-subtitle pb-4">{{value.content}}</p>
                    </div>
                    <!--
                    <ng-image-slider [images]="imgObject"></ng-image-slider>
                    -->
                </div>
            </div>
        </div>
    </div>
</section>