html { 
    height: 100%; 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
    height: 100%;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

.owl-dots {
    margin-top: 20px !important;
}

.bmd-app-page-padding {
    padding-top: 220px !important;
}

.bmd-background {
    background: url(assets/layout/images/200100.png); 
    background-repeat: no-repeat; 
    background-size: cover;
}